/* not sure why, but we have to manually tell the row and column to set height here */
html, body, .container-fluid, .row, .col-xs-6 {
  height: 100%;
  background-color: #111;
}

html {
  -webkit-app-region: drag;
}

.container-fluid {
  padding: 25px;
}
